@charset "UTF-8";

.container {
	margin-top: 5%;]
}

.form-group {
	width: 40%;
}

.row {
	margin-top: 5%;
}

.ur {
	float: right;
	text-decoration: underline;
}

.wider {
	width: 175%;
}

.lw {
	width: 70%;
}